// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            //If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            layout "us, ru" // Use the American keyboard layout
	    options "grp:alt_shift_toggle,caps:escape"
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        dwt // disable while typing
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        //accel-profile "flat"
        //accel-speed 0.0
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
